<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ if .Params.noindex }}<meta name="robots" content="noindex" />{{ end }}

{{ if .IsHome }}
  <title>{{ .Site.Params.jobTitle }} | {{ .Site.Params.author }}</title>
{{ else }}
  <title>{{ .Title }} | {{ .Site.Params.author }}</title>
{{ end }}

{{- if .Params.summary -}}
  <meta name="description" content="{{ .Params.summary }}" />
{{- else -}}
  <meta name="description" content="{{ .Site.Params.Description }}" />
{{- end }}

{{ $styles := resources.Get "/css/style.css" }}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
  {{ $styles := $styles | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}


<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<link rel="icon" href="/favicon.ico" />
