{{ define "content" }}
  <h1 class="text-center">404</h1>
  <div class="flex flex-col-reverse justify-between gap-4 lg:flex-row">
    <img
      class="m-0 w-full lg:h-80 lg:w-80"
      alt="Two people holding an empty box"
      src="/404.svg"
    />
    <div class="flex flex-col items-center">
      <p>Sorry, the page you requested was <strong>not found</strong>.</p>
      <a
        class="w-fit rounded-xl bg-accent-ternary px-8 py-4 font-bold text-white lg:self-end"
        href="/"
      >
        Back to Home
      </a>
    </div>
  </div>
{{ end }}
