<div class="mx-auto mt-8 h-0.5 w-24 bg-gray-dark"></div>
{{ with .Site.GetPage "feedback/index.md" }}{{ .Content }}{{ end }}
<div class="mx-auto mb-8 h-0.5 w-24 bg-gray-dark"></div>
<div
  class="flex flex-col items-center gap-4 sm:flex-row sm:justify-center sm:gap-6"
>
  <a
    class="flex items-center gap-2 hover:scale-110"
    href="https://github.com/larsschieffer/personal-website/blob/main/content/blog/{{ path.Base .Permalink }}.md"
    target="_blank"
    rel="noreferrer"
    aria-label="GitHub"
  >
    {{ partial "icons/line-awesome.html" "github" }}
  </a>
  <a
    class="flex items-center gap-2 hover:scale-110 hover:text-[#0072b1]"
    href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"
    target="_blank"
    rel="noreferrer"
    aria-label="LinkedIn"
  >
    {{ partial "icons/line-awesome.html" "linkedin-in" }}
  </a>
  <a
    class="flex items-center gap-2 hover:scale-110 hover:text-[#0698a0]"
    href="https://www.xing.com/spi/shares/new?url={{ .Permalink }}"
    target="_blank"
    rel="noreferrer"
    aria-label="Xing"
  >
    {{ partial "icons/line-awesome.html" "xing" }}
  </a>
</div>
